{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Visions Unknown</title>
  </head>

    <style>
      body {
        background-image: url({% static 'fundo.jpg' %})
      }
    </style>
  <body>

    <div class="container" style="background-color: #100020">
      <div class="row">
        <div class="col-md-12">
            <center>
                <img src="{% static 'capa.jpg' %}">
            </center>
            <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="color: #310061" >
                <a class="navbar-brand" href="/../">Visions Unknown</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Cadastro</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}"">Login</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categorias
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Ação</a>
                        <a class="dropdown-item" href="#">Outra ação</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Algo mais aqui</a>
                      </div>
                    </li>  
                  </ul>
                  <form action="{% url 'search' %}" method="get">
                    <input class="form-control mr-sm-2" name="q" type="search" placeholder="Pesquisa..." aria-label="Pesquisar">
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Pesquisar</button>
                  </form>
                </div>
              </nav>
              </div>
        </div>
      </div>

    {% for category in categories %}
      <a href="{% url 'category-detail' category.pk %}"></a>
    {% endfor %}


    {% block content %}
    {% endblock %}
    </div>

  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
