{% extends "blog/base.html" %}

{% block content %}
	<h3 class="my-4">{{ object.title }}</h3>
	Postado em: {{ object.created_at }} |
	Por: {{ object.author }} |
	Categoria: {{ object.category }}
	Descrição: {{ object.description|safe}}
    <img src="{{ object.banner.url }}" class="img-fluid"></img>
	<p>{{ object.text|safe }}</p>

	{% for comment in object.comments.all %}
		Postado em {{ comment.created_at }} por {{ comment.author }}
		<p>{{ comment.text }}</p>
	{% endfor %}

	{% for comment in post.comments.all %}
		<p>
			<b>{{ comment.author }}</b>
			{{ comment.text }}
			{{ comment.created_at }}
		</p>
	{% endfor %}

	<form method="POST" action="{% url 'comment' object.id %}">

			{% csrf_token %}
			<textarea name="text">
			</textarea>
			<input type="submit" value="Comentar">
		</form>
	

	{% endblock %}
