<html lang="pt-br">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Visions Unknown</title>
  </head>

  <body>
      



<div class="container">
    <div class="card img-fluid" style="width:300px">
      <img class="card-img-top" src="{{ object.banner.url }}" alt="Card image" style="width:100%">
      <div class="card-img-overlay">
        <h4 class="card-title">{{ post }}</h4>
        <p class="card-text">{{ post.description }}</p>
        <p class="card-subtitle">Autor: {{ post.author }}</p>
        <p>Horário:{{ post.created_at }}</p>
        <br>
        <a href="{% url 'post-detail' post.pk %}" class="btn btn-primary">Mais</a>
      </div>
    </div>
  </div>
    </body>